<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand d-inline-block d-lg-none">Redimiendo mis compras</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" *ngIf="user$ | async as user">
    <p class="navbar-brand">
      <small class="d-none d-lg-block">Redimiendo mis compras</small>
      Bienvenido {{ user.name }} {{ user.lastname }}
    </p>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" target="_blank" role="button" routerLink="/privacy_notice">Aviso de privacidad</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" role="button" routerLink="/terms_and_conditions">Terminos y condiciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" href="javascript:void(0); " (click)="logout()">Cerrar Session</a>
      </li>
    </ul>
  </div>
</nav>
